.researcher-auth-switch > p {
	color: var(--black);
}

.researcher-auth-switch-button {
	cursor: pointer;
	color: var(--brand);

	&:hover {
		color: var(--brand-strong);
	}
}

.switch-to-education p {
	color: var(--muted);
	margin: 0 auto;
}